<%- include('partials/header') %>
    <main>
        <h1>
            <%= title %>
        </h1>
        <p>Here are a few of our partner categories:</p>
        <ul>
            <li><img src="#" alt="Environmental logo"><strong>Environmental</strong>:
            <li><img src="#" alt="Educational logo"><strong>Educational</strong>:
            <li><img src="#" alt="Community Service logo"><strong>Community Service</strong>:
            <li><img src="#" alt="Health and Wellness logo"><strong>Health and Wellness</strong>:
        </ul>
    </main>
<%- include('partials/footer') %>
